/*beginning*/
.list-preview-wrap:nth-child(1){
    display:none;
}

/*line 726*/
.markdown-editor > [title="Image"]{
	color: #95e2f1;
}
.markdown-editor > [title="WebM Video"]{
    color: #7cc20d;
}
.markdown-editor > [title="Youtube Video"]{
    color: #f30000;
}

/*line 4216*/
.markdown-editor > [title="Image"]{
	color: #95e2f1;
}
.markdown-editor > [title="WebM Video"]{
    color: #7cc20d;
}
.markdown-editor > [title="WebM Video"]:hover{
    color: #7dc20dc5;
}
.markdown-editor > [title="Youtube Video"]{
    color: #f30000;
}
.markdown-editor > [title="Youtube Video"]:hover{
    color: #f30000c5;
}

/*commented out lines 4336-4340*/
/*.medialist.table .row{
	border-bottom: solid;
	border-bottom-width: 1px;
	border-color: rgb(var(--color-text),0.5);
}*/