/*Imports*/
@import url("https://anzuftnw.github.io/files/user-badges.css");

/* settings for everything*/
:root, .site-theme-dark, .site-theme-contrast{
/*badge settings*/
    --badge-background: rgb(var(--color-background));                         /* background color */
    --badge-color: rgb(var(--color-text));                                    /* text color */
    --badge-rounding: 3px;                                                    /* corner rounding */
    --badge-font: Overpass;                                                   /* font */

/* colors */    
    --color-background: 0,0,0,.5;
    --color-foreground: 0,0,0,.5;
    --color-foreground-grey: 0,0,0,.5;
    --color-foreground-grey-dark: 0,0,0,0.5;
    --color-text: #358EDA;
    --color-text-light: #2E87DA;
    --color-text-lightest: #2E87FF;
    --color-background-100: 0,0,0,.5;
    --color-background-200: 0,0,0,.5;
    --color-gray-100: #358EDA;
    --color-gray-600: #358EDA;
    --color-gray-700: #358EDA;
    --color-gray-800: #2E87FF;
    --color-gray-900: #2E87FF;
    /*--color-green: var(--color-text-lightest);*/
}  

/* background */
body {
    background: linear-gradient(rgb(var(--color-background),0.8),rgb(var(--color-background),0.8)), url(https://i.imgur.com/HDUpxWD.jpeg) center/100% fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner */
.banner[data-v-1cc2919e]{
    background-image: none !important;
    background-color: rgb(36,37,56,0);
}
.banner .avatar {
    order: 0;
}
.banner .name {
    font-size: 3rem;
    font-family: stay in square;
    position: relative;
    transform: translate(0,5px);
    order: 0;
}
.banner-content h1.name {
    filter: drop-shadow(0px 0px 6px aqua);
}
.banner .banner-content::after {
    content: "三玖";
    background: rgba(var(--color-blue),.7);
    border-radius: 4px;
    color: rgb(var(--color-white));
    padding: 4px 7px;
    margin-bottom: 20px;
    margin-right: 16px;
    font-size: 1.2rem;
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 600;
    cursor: text;
    order: 2;
}
.banner .follower-badge {
    order: 3;
}
.banner .actions {
    order: 4;
}

/* navbar */
#nav {
    background: rgba(0,0,0,.5);
    color: rgb(var(--color-text));
    top: 0 !important;
    border-bottom: 1px solid rgb(81, 185, 245);
}

.nav-wrap {
    border-top: 1px solid rgb(81, 185, 245);
    border-bottom: 1px solid rgb(81, 185, 245); 
}

.logo img {
    content: url("https://cdn.discordapp.com/emojis/541528618518446090.gif");
    width: 50px !important;
    height: 50px !important;
    transition: 1s linear;
}
.logo img:hover {
    transform: rotate(360deg);
}
#nav .link:hover {
    color: rgb(var(--color-text-lightest))
}
.transparent .search svg {
    color: rgb(var(--color-text)) !important;
}
.quick-search {
    background: rgba(40,30,30,.5) !important;
}

/* badges */
.header > .name:after {content: "Lurker";}                                              /* badge for everyone */
.header > a[href="/user/Artemis/"].name:after {content: "Cringe Lord";}                 /* badge for me */

/* badge for others */
.header > a[href="/user/Anzu/"].name:before {content: "Mr.";}                           /* prefix for user anzu */
.header > a[href="/user/Anzu/"].name:after {content: "Certified Nerd 📚";}              /* badge for anzu */
.header > a[href="/user/Elvedin/"].name:after {content: "Besto friendo";}               /* badge for elve */
.header > a[href="/user/kartsydai/"].name:after {content: "also besto friendo";}        /* badge for kart */
.header > a[href="/user/Kanjo/"].name:after {content: "Elder";}                         /* badge for Kanjo */
.header > a[href="/user/Robiracer/"].name:after {content: "wobby wobby";}               /* badge for wobby */
.header > a[href="/user/leilana/"].name:after {content: "esteemed designer guest";}     /* badge for leilana */
.header > a[href="/user/KusogakiEvents/"].name:after {content: "bot";}                  /* badge for KCbot */

/* badge for the reviewers */
.header > a[href="/user/annahoj/"].name:after {content: "Lord of the Reviewers";}
.header > a[href="/user/Raycenerr/"].name:after {content: "Lord of the Reviewers";}
.header > a[href="/user/BaconCheesecake/"].name:after {content: "Esteemed Reviewer";}
.header > a[href="/user/draboko/"].name:after {content: "Esteemed Reviewer";}
.header > a[href="/user/caiyune/"].name:after {content: "Esteemed Reviewer";}
.header > a[href="/user/Goldiizz/"].name:after {content: "Esteemed Reviewer";}
.header > a[href="/user/qeziz/"].name:after {content: "Esteemed Reviewer";}
.header > a[href="/user/CelestialQueen/"].name:after {content: "Esteemed Reviewer";}
.header > a[href="/user/celeoste/"].name:after {content: "Esteemed Reviewer";}

/* names */
.name[data-v-1cc2919e]{
    font-family: stay in square;
    font-size: 55px;
    margin: 0;
}
.name[data-v-77aecf0c]{
    font-family: Overpass;
}

/* bio */
.about .content-wrap {
    max-height: none !important;
    background: rgba(0,0,0,.8);
}

/* content */
.list-stats, .about > .content-wrap, .activity-entry > .wrap, .genre-overview, .activity-history, .load-more, .el-textarea, .markdown-editor, .favourites-wrap, .reply {
    border: 1px solid rgb(81, 185, 245);
}
.user .overview {
    grid-template-columns: calc(45% - 40px) 55%!important;
}
.overview .favourites > .favourites-wrap {
    background: rgb(var(--color-foreground)) !important;
    display: grid !important;
    grid-gap: 25px !important;
    grid-template-columns: repeat(auto-fill,85px) !important;
    margin-bottom: 30px !important;
    padding: 20px !important;
    grid-template-rows: unset !important;
    width: unset;
}
.overview .favourites > .favourites-wrap > div, .overview .favourites > .favourites-wrap > a {
    margin-bottom: 20px !important;
    margin-right: 21px !important;
    column-gap: unset !important;
}
.favourites.preview .favourites-wrap {
    display: block !important;
    margin-bottom: 25px !important;
    padding: 20px !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}
.overview .favourite.studio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,.6);
    font-weight: 800;
    font-size: 6rem;
}
.overview .favourite.studio::after {
    display: none;
}
.site-theme-dark .overview .favourite.studio[href="/studio/2/Kyoto-Animation"] {
    background: url("https://cdn.discordapp.com/attachments/824261675552604210/844269872917381180/thumb-1920-717957.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: 0% 70%
}
.site-theme-dark .overview .favourite.studio[href="/studio/43/ufotable"] {
    background: url("https://cdn.discordapp.com/attachments/824261675552604210/844270549273149530/wallpapersden.com_saber-fategrand-order-series_2759x1637.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 40% 7%
}
.site-theme-dark .overview .favourite.studio[href="/studio/44/Shaft"] {
    background: url("https://cdn.discordapp.com/attachments/824261675552604210/844271265538768977/714776.jpg");
    background-size: 1000%;
    background-repeat: no-repeat;
    background-position: 35% 10.5%
}
.site-theme-dark .overview .favourite.studio[href="/studio/11/MADHOUSE"] {
    background: url("https://cdn.discordapp.com/attachments/824261675552604210/844274697339666502/hqjf7l.jpg");
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: 70% 15%
}
.site-theme-dark .overview .favourite.studio[href="/studio/314/White-Fox"] {
    background: url("https://media.discordapp.net/attachments/824261675552604210/844276474160218112/Steins-Gate.jpg?width=870&height=544");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 40% 28%;
}
.user-page-unscoped.red .progress .bar {
    background: linear-gradient(270deg,#df0000,#500);
}
.wrap > .time {
    color: rgb(var(--color-text));
}

/* footer */
#app .wrap .footer {
    background: rgb(var(--color-foreground));
    color: rgb(var(--color-text));
    border-top: 1px solid #900;
}
.footer > .container {
    justify-content: space-between;
}
.theme-preview.dark {
    color: lightgrey;
    background: rgb(var(--color-background))
}
.theme-selector > h2 {
    color: rgb(var(--color-text))
}
.theme-selector > .theme-preview {
    border-color: rgb(40,0,0);
}
a:hover {
    color: rgb(var(--color-text-lightest));
}
.hohColourPicker, .hohDismiss, .hohDownload {
    display: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--color-text-lightest));
    border-radius: 50px;
  }
  body::-webkit-scrollbar-track {
    background: black;
  }

/* Hides hoh download button */
.hohDownload {
    display: none;
}