/*old css meets new one*/

/*Imports*/
@import url("https://anzuftnw.github.io/files/user-badges.css");

:root, .site-theme-dark, .site-theme-contrast{
/*badge settings*/
    --badge-background: rgb(var(--color-silver));                         /* background color */
    --badge-color: rgb(var(--color-text));                                    /* text color */
    --badge-rounding: 3px;                                                    /* corner rounding */
    --badge-font: Overpass;                                                   /* font */

/* colors */
    --color-silver: 246, 246, 246;
    --color-foreground: 0,0,0,.5;
    --color-foreground-grey: 0,0,0,.5;
    --color-foreground-grey-dark: 0,0,0,0.5;
    --color-text: 53, 142, 218;
    --color-text-ash: 210,213,216;
    --color-text-light: 46,135,218;
    --color-text-lightest: 46, 135, 255;
    /*--color-green: var(--color-text-lightest);*/
} 

/*background*/
body {
    background: linear-gradient(rgb(var(--color-background),0.5),rgb(var(--color-background),0.5)), url(https://i.imgur.com/HDUpxWD.jpeg) center/100% fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*banner*/
.banner[data-v-1cc2919e]{
    background-image: none !important;  
    background-color: rgb(36,37,56,0);
}
.banner-content h1.name {
    filter: drop-shadow(0px 0px 6px rgb(81, 185, 245));
}
.banner .avatar {
    order: 0;
}
.banner .banner-content::after {
    content: "三玖";
    background: rgba(var(--color-blue),.7);
    border-radius: 4px;
    color: rgb(var(--color-white));
    padding: 4px 7px;
    margin-bottom: 20px;
    margin-right: 16px;
    font-size: 1.2rem;
    font-family: Overpass;
    font-weight: 600;
    cursor: text;
    order: 2;
}
.banner .follower-badge {
    order: 3;
}
.banner .actions {
    order: 4;
}

/* badges */
.header > .name:after {content: "Lurker";}                                              /* badge for everyone */
.header > a[href="/user/Artemis/"].name:after {content: "Cringe Lord";}                 /* badge for me */

/* badge for others */
.header > a[href="/user/Anzu/"].name:before {content: "Mr.";}                           /* prefix for user anzu */
.header > a[href="/user/Anzu/"].name:after {content: "Certified Nerd 📚";}              /* badge for anzu */
.header > a[href="/user/Elvedin/"].name:after {content: "Besto friendo";}               /* badge for elve */
.header > a[href="/user/Kartsydai/"].name:after {content: "also besto friendo";}        /* badge for kart */
.header > a[href="/user/Kanjo/"].name:after {content: "Elder";}                         /* badge for Kanjo */
.header > a[href="/user/Robiracer/"].name:after {content: "wobby wobby";}               /* badge for wobby */
.header > a[href="/user/leilana/"].name:after {content: "Esteemed designer guest";}     /* badge for leilana */
.header > a[href="/user/KusogakiEvents/"].name:after {content: "Bot";}                  /* badge for KCbot */

/* badge for the reviewers */
.header > a[href="/user/annahoj/"].name:after,
.header > a[href="/user/Raycenerr/"].name:after {
  content: "Lord of the Reviewers";
}
.header > a[href="/user/BaconCheesecake/"].name:after,
.header > a[href="/user/draboko/"].name:after,
.header > a[href="/user/caiyune/"].name:after,
.header > a[href="/user/Goldiizz/"].name:after,
.header > a[href="/user/CelestialQueen/"].name:after,
.header > a[href="/user/celeoste/"].name:after 
/*more get added in here*/ {
    content: "Reviewer";
}

/*names*/
.name[data-v-1cc2919e]{
    font-family: stay in square;
    font-size: 60px;
    margin: 0;
}
.name[data-v-77aecf0c]{
    font-family: Overpass;
}

/* bio */
.about .content-wrap {
    max-height: none !important;
    background: rgba(0,0,0,0.8);
}

/* Chrome scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background: #01232d;
}
::-webkit-scrollbar-corner {
    background: #01232d;
}
::-webkit-scrollbar-thumb {
    background: #ff6f00;
    --webkit-border-radius: 1ex;
}

/*Hides hoh download button*/
.hohDownload {
    display: none;
}

/* navbar */
#nav {
    background: rgba(0,0,0,.5);
    color: rgb(var(--color-text));
    top: 0 !important;
    border-bottom: 1px solid rgb(81, 185, 245);
}

.nav-wrap {
    border-top: 1px solid rgb(81, 185, 245);
    border-bottom: 1px solid rgb(81, 185, 245); 
}

#nav .link:hover {
    color: rgb(var(--color-text-lightest))
}
.transparent .search svg {
    color: rgb(var(--color-text)) !important;
}
.quick-search {
    background: rgba(40,30,30,.5) !important;
}

/* content */
.list-stats,
.about > .content-wrap,
.activity-entry > .wrap,
.genre-overview, .activity-history, .load-more, .el-textarea, .markdown-editor, .favourites-wrap, .reply {
    border: 1px solid rgb(81, 185, 245);
}
.user .overview {
    grid-template-columns: calc(45% - 45px) 55%!important;
}
.overview .favourites > .favourites-wrap {
    background: rgb(var(--color-foreground)) !important;
    display: grid !important;
    grid-gap: 25px !important;
    grid-template-columns: repeat(auto-fill,85px) !important;
    margin-bottom: 30px !important;
    padding: 20px !important;
    grid-template-rows: unset !important;
    width: unset;
}
.overview .favourites > .favourites-wrap > div, .overview .favourites > .favourites-wrap > a {
    margin-bottom: 20px !important;
    margin-right: 21px !important;
    column-gap: unset !important;
}
.favourites.preview .favourites-wrap {
    display: block !important;
    margin-bottom: 25px !important;
    padding: 33px !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}
.overview .favourite.studio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,.6);
    font-weight: 600;
    font-size: 4rem;
}
.overview .favourite.studio::after {
    display: none;
}
.site-theme-dark .overview .favourite.studio[href="/studio/2/Kyoto-Animation"] {
    background: url("https://cdn.discordapp.com/attachments/824261675552604210/844269872917381180/thumb-1920-717957.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: 0% 70%;
}
.site-theme-dark .overview .favourite.studio[href="/studio/44/Shaft"] {
    background: url("https://cdn.discordapp.com/attachments/824261675552604210/844271265538768977/714776.jpg");
    background-size: 1000%;
    background-repeat: no-repeat;
    background-position: 35% 10.5%;
}
.site-theme-dark .overview .favourite.studio[href="/studio/11/MADHOUSE"] {
    background: url("https://cdn.discordapp.com/attachments/824261675552604210/844274697339666502/hqjf7l.jpg");
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: 70% 15%;
}
/* footer */
#app .wrap .footer {
    background: rgb(var(--color-foreground));
    color: rgb(var(--color-text));
    border-top: 1px solid rgb(81, 185, 245);
}
.footer > .container {
    justify-content: space-between;
}
.theme-preview.dark {
    color: lightgrey;
    background: rgb(var(--color-background))
}
.theme-selector > h2 {
    color: rgb(var(--color-text))
}
.theme-selector > .theme-preview {
    border-color: rgb(40,0,0);
}
a:hover {
    color: rgb(var(--color-text-lightest));
}
.user-page-unscoped.red .progress .bar {
    background: linear-gradient(270deg,rgb(53, 142, 218),rgb(81, 185, 245));
}
.wrap > .time {
    color: rgb(var(--color-text));
}